body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.img_tolik {
    animation: img_rotate 2s linear infinite;
    position: absolute;
}
@keyframes  img_rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}